form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
}

form input{
    margin: 10px 0;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;

}

form button{
    margin: 10px 0;
    padding: 10px;
    border-color: white;
    border-radius: 5px;
    background-color: #222831;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

form label{
    margin: 1;
    text-align: left;
    padding: 0;
    border: none;
    width: 100%;
    font-size: 16px;
}

.category {
   width: 100%;
   margin: 20px; 
}
form .repeat-checkbox{
    width: fit-content;
    margin-right: 10px;
}
form select{
    display: block;
    padding: 10px 0;
}
option{
    padding: 10px 0;
    
    width: 100%;

}